/*global styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size:  10px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100px;
    height: auto;
}

section{
    padding: 5rem 0;
}

body{
    background-color: white;
}

/* Header */
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.5rem;

}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    
}

.nav-brand{
    width: 20rem;
}

.menu-icons i{
    font-size: 3.5rem;
    color: white;
    cursor: pointer;
}

.close i{
    color: palevioletred;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: rgba(31, 31, 31, 0.836);
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 550ms ease-in-out;
}

.nav-list.active{
    right: 0;
    
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item{
    margin: 1.5rem 0;
    transition: 500ms linear;
}

.nav-link{
    font-size: 1.8rem;
    text-transform:  uppercase;
    color: white;
}

.open.klik{
    opacity: 0%;
    transition: 200ms ease-in-out;
}

.open{
    transition: 1200ms ease-in-out;
}

/*hero*/
.hero{
    width: 100%;
    height: 90vh;
    background: linear-gradient(135deg, rgba(49,24,131,.9) 0%,rgba(72,56,141,.7) 100%), url("img/header.jpg") bottom no-repeat fixed;
    background-size: cover;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 15rem;
    background: url("img/wave-small.png") center no-repeat;
    background-size: cover;
}

.main-message{
    width: 100%;
    max-width: 50rem;
    color: white;
    text-transform: uppercase;
    transform: translateY(29%);
}

.main-message h3{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.6rem;
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.main-message p{
    text-transform: lowercase;
}

.btn{
    background-color: rgb(245, 105, 105);
    border-radius: 2rem;
    color: white;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover{
    background-color: rgb(189, 64, 64);
}

/*Experience the outdoor*/
.experience-outdoors{
    padding: 0;
    text-align: justify;
}

.title-heading{
    text-align: center;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, .7);
    
}

.title-heading h3{
    font-size: 1.4rem;
}

.title-heading h1{
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    margin: .5rem 0 1rem;
}

.ttile-heading p{
    text-transform: lowercase;
}

.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    color: white;
    position: relative;
    bottom: 6rem;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    cursor: pointer;
    z-index: -1;
    transition: 650ms;
}

.activities-grid-item::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(135deg, rgba(58, 34, 136, 0.9) 0%,rgba(56, 46, 104, 0.7) 100%);
    z-index: -1;
}

.star-gazing{
    background: url("img/stars.jpg") center no-repeat;
}

.hiking{
    background: url("img/hiking.jpg") center no-repeat;
}

.camping{
    background: url("img/camping.jpg") center no-repeat;
}

.activities-grid-item h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

/* Testimonials */
.testimonials{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49,24,131,.9) 0%,rgba(72,56,141,.7) 100%), url("img/testimonials-bg.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("img/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

.testimonial{
    width: 100%;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial.text-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;

}

.testimonial-text-box i{
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: rgb(201, 55, 55);
    opacity: .5;
    z-index: -1;
}

.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid rgb(223, 85, 85);
    
}

/*begin adventure*/
.adventure-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.adventure-grid-item{
    color: rgba(0, 0, 0, .7);
}

footer{
    padding: 2.5rem 0;
    background-color: rgb(187, 187, 187);
    color: rgba(0, 0, 0, .7);
    text-align: center;
}

/*media queries*/
@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(40%);
    }
    nav.black{
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        left:0;
        height: 10vh;
        z-index: 1;
        padding-left: 1rem;
        padding-right: 2.3rem;
        transition: background-color 650ms;
    }
}

@media screen and (min-width: 470px){
    .hero::before{
        height: 9.4rem;
        background: url("img/wave-medium.png") center no-repeat;
        background-size: cover;
    }
    .testimonials::before{
       
        height: 9.4rem;
        background: url("img/wave-medium-reversed.png") center no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 760px){
    header{
        height: 8rem;
    }
    

    nav.black{
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        left:0;
        height: 10vh;
        z-index: 1;
        padding-left: 22rem;
        padding-right: 22rem;
        transition: background-color 650ms;
    }

    nav.black::before{
        transition: 650ms;
    }

    .nav-brand{
        width: 30rem;
    }
    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }
    .menu-icons{
        display: none;
    }

    .nav-item{
        margin: 0 1.5rem;
    }

    .nav-link{
        color: white;
        font-size: 1.3rem;
        position: relative;
    }

    .nav-link::before,
    .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: red;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current::before{
        transform: scaleX(1);
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }

    .main-message{
        transform: translateY(60%);
    }

    .title-heading h3{
        font-size: 2.5rem;
    }

    .nav-list.black{
        color: white;
    }
}

@media screen and (min-width: 950px){
    .hero::before{
        height: 20.7rem;
        background: url("img/wave-large.png") center no-repeat;
        background-size: cover;
    }
    .testimonials::before{
       
        height: 20.7rem;
        background: url("img/wave-large-reversed.png") center no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1200px){
    .hero{
        height: 95vh;
    }

    .testimonials{
        height: 100vh;
    }

    .testimonial.text-box{
        padding: 0 1.5rem;
        margin-bottom: 10rem;
        position: relative;
    
    }
    
    .testimonial-text-box i{
        position: absolute;
        top: -8rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8rem;
        color: rgb(201, 55, 55);
        opacity: .5;
        z-index: -1;
    }
    
    .testimonial-customer img{
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        border: 3px solid rgb(223, 85, 85);
        
    }
    
}